.table01{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
}
.table01 th{
    background: #A3CC40;
}
.table01__col1{
    padding: 10px 40px 10px 20px;
}
.table01__col2{
    padding: 10px 20px 10px 40px;
}
.table01__col3{
    padding: 10px 60px 10px 20px;
}
.table01__link{
    font-family: IBM Plex Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    color: #FFF;
    text-decoration: none;
}
.table01__linkicon{
    display: inline-block;
    vertical-align: top;
    margin-top: 11px;
    padding-left: 3px;
}
.table01 tr{
    vertical-align: top;
}
.table01 td{
    font-family: IBM Plex Sans;
    background: #373737;
    padding: 14px 20px;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
}
.table01 tr:nth-child(2n+1) td{
    background: #6c6c6c;
}
