/** Шрифты */
@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../fonts/IBMPlexSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../fonts/IBMPlexSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../fonts/IBMPlexSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/** Общие стили */
html {
    font-size: 1.82vw;
}

body {
    font-family: 'IBM_Plex_Sans',
        sans-serif;
    min-width: 320px;
}

.headline-font {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.28;
    color: #A3CC40;
}

.paragraph-font {
    font-weight: normal;
    font-size: .54rem;
    line-height: 1.26;
    color: #333333;
}

.headline-font_bold {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    color: #333;
}

.picture-size {
    width: 12.24rem;
    height: 8.44rem;
}

.container {
    max-width: 47.4rem;
    margin: 0 auto;
}

.link-white {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.32;
    color: #FFF;
    transform: 0.2s;
    text-decoration: none;
}

.link-white:hover {
    color: #A3CC40;
}

.link-menu {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.33;
    color: #FFF;
    transform: 0.2s;
    text-decoration: none;
}

.link-menu:hover {
    color: #A3CC40;
    border-bottom: 1px solid;
}

.link-underline {
    border-bottom: 1px solid;
    display: inline-block;
    line-height: 1.0;
}

.button__font-family {
    font-family: 'IBM_Plex_Sans';
}

/** Компоненты */
/** Блок 1 */
.block01 {
    background: url('../images/block01_background.jpg') no-repeat center / cover,
        teal;
    max-width: 56.2rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-height: calc(100vh + 8.4rem);
}

.block01::after {
    content: '';
    display: block;
    border-top: 8.54rem solid transparent;
    border-right: 100vw solid #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container .block01__inner {
    padding-top: 2.14rem;
}

.block01__col1 {
    float: left;
    margin-right: 2.24rem;
    padding-top: 0.24rem;
}

.block01__col2 {
    float: left;
}

.block01__tel,
.block01__mail,
.block01__address,
.block01__call {
    float: left;
    margin-bottom: 0.6rem;
}

.block01__address {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.32;
    color: #FFF;
    margin-top: .32rem;
}

.block01__call {
    margin-right: 5.4rem;
    border-radius: .2rem;
}

.block01__button {
    width: 6.4rem;
    height: 1rem;
    background-color: #fff;
    border: 1px solid #EDEDED;
    border-radius: .2rem;
    font-size: .6rem;
    font-weight: 500;
    line-height: 1.32;
    color: #333333;
    transform: 0.2s;
}

.block01__button:hover {
    background: #A3CC40;
    color: #FFFFFF;
    border: 2px solid #EAEDE2;
}

.block01__button svg {
    fill: #333333;
}

.block01__button:hover svg {
    fill: #fff;
}

.block01__call-text {
    text-decoration: none;
}

.block01__call svg {
    fill: #333333;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    margin-right: 3px;
}

.block01__row1_margin {
    margin-right: 2.74rem;
}

.block01__lang {
    float: right;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
}

.block01__dropdown-list {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, .8);
    left: -0.74rem;
    bottom: 0;
    transform: translateY(100%);
}

.block01__dropdown-list a {
    font-size: .6rem;
    font-weight: 500;
    color: #FFF;
    transform: 0.2s;
    text-decoration: none;
    padding: .4rem .74rem;
    display: block;
}

.block01__dropdown-list:hover {
    color: #A3CC40;
}

.block01__dropdown-trigger span {
    font-weight: 500;
    font-size: .6rem;
    color: #FFF;
    display: inline-block;
    transform: 0.2s;
}

.block01__dropdown-trigger svg {
    vertical-align: middle;
    display: inline-block;
    margin-top: 2px;
    fill: #FFF;
    transform: 0.2s;
}

.block01__dropdown-trigger:hover span {
    color: #A3CC40;
}

.block01__dropdown-trigger:hover svg {
    fill: #A3CC40;
}

.dropdown_opened .block01__dropdown-trigger svg {
    transform: rotate(180deg);
}

.dropdown_opened .block01__dropdown-list {
    display: block;
}

.block01__section1,
.block01__section2,
.block01__section3,
.block01__section4,
.block01__section5 {
    float: left;
}

.block01__upper {
    text-transform: uppercase;
}

.block01__row2_margin {
    margin-right: 3.6rem;
}

.block01__headline {
    max-width: 37.4rem;
    margin: 0 auto;
    padding-top: 9rem;
    padding-bottom: 12.4rem;
}

.block01__main-text {
    font-weight: 100;
    font-size: 3.4rem;
    line-height: 1.3;
    color: #FFF;
    text-align: center;
    margin-bottom: 0.8rem;
}

.block01__extra-text {
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.3;
    color: #FFF;
    text-align: center;
}

.block01__btn {
    display: none;
}

/** Блок 2 */
.block02 {
    max-width: 56.2rem;
    height: 50rem;
    margin: 0 auto;
}

.block02__inner {
    max-width: 42.6rem;
    margin: 0 auto;
    position: relative;
}

.block02__welcome {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0 1.34rem 2rem rgba(163, 204, 64, 0.18);
    border-radius: 0.5rem;
    padding: 1.4rem 2.4rem;
    max-width: 21.4rem;
    right: 0;
    top: -8.74rem;
    box-sizing: border-box;
}

.block02__welcome-header {
    font-weight: 600;
    font-size: 1.64rem;
    line-height: 1.2;
    color: #333333;
    margin-bottom: 1rem;
}

.block02__welcome-text1 {
    margin-bottom: 0.8rem;
}

.block02__headline {
    margin: 1.6rem 0 4.2rem;
}

.block02__content {
    max-width: 42.2rem;
    margin: 0 auto;
}

.block02__benefits {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.block02__benefit {
    margin-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    width: 12.24rem;
    height: 16rem;
    align-items: center;
    justify-content: space-between;
}

/** Блок 3 */

.block03 {
    max-width: 56.2rem;
    height: 24.4rem;
    margin: 0 auto;
}

.block03__inner {
    max-width: 42.6rem;
    margin: 0 auto;
}

.block03__table-wrap {
    max-width: 42.2rem;
    margin: 0 auto;
}

.block03__headline {
    margin: -0.24rem 0 4.2rem;
}

.block03__table {
    border-collapse: collapse;
    border-radius: 0.4rem;
    overflow: hidden;
    text-align: left;
}

.block03__table th {
    background: #A3CC40;
    padding: 0.6rem 2rem 0.6rem 1rem;
}

.block03__table_white {
    text-decoration: none;
    color: #FFF;
}

.block03__link-icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.6rem;
    margin-left: 3px;
}

.block03__table td {
    background: #373737;
    padding: 0.7rem 2rem 0.7rem 1rem;
    color: #FFF;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 1.3;
}

.block03__table tr:nth-child(2n+1) td {
    background: #4C4D4F;
}

.block03__check {
    fill: #FFF;
}

.block03__check:hover {
    fill: #A3CC40;
}

.block03__text {
    margin: 1.4rem auto;
    text-align: center;
    width: 26rem;
}

/** Блок 4 */
.block04 {
    background: url('../images/block04_background.jpg') no-repeat center / cover,
        teal;
    max-width: 56.2rem;
    height: 32rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding-top: 0.4rem;
}

.block04::before {
    content: '';
    display: block;
    border-bottom: 8.24rem solid transparent;
    border-left: 100vw solid #FFF;
    position: absolute;
    top: 0;
    left: 0;
}

.block04::after {
    content: '';
    display: block;
    border-top: 6.8rem solid transparent;
    border-right: 100vw solid #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
}

.block04__gift {
    height: 14rem;
    width: 14rem;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    left: 6.8rem;
    bottom: 18rem;
}

.block04__gift-wrap {
    width: 18rem;
    margin: 0 auto;
    padding-bottom: 2.4rem;
}

.block04__text {
    width: 28rem;
    text-align: right;
    margin-left: 21.4rem;
    margin-top: 5.6rem;
}

.block04__headline {
    margin-bottom: 2rem;
}

.block04__headline,
.block04__paragraph {
    color: #FFF;
}

.block04__paragraph {
    margin-bottom: .8rem;
}

.block04__button {
    margin: 1.4rem 0;
}

.block04__button1 {
    background: #A3CC40;
    border-radius: .2rem;
    height: 1.4rem;
    width: 9.4rem;
    font-weight: 500;
    font-size: .7rem;
    line-height: 1.28;
    text-align: center;
    color: #fff;
    border: none;
}

.block04__button1:hover {
    background: #fff;
    border: 1px solid rgba(163, 204, 64, 0.62);
    color: #A3CC40;
    box-shadow: 0 .1rem .4rem rgba(144, 210, 61, 0.3);
}

/** Блок 5 */
.block05 {
    max-width: 56.2rem;
    margin: 0 auto;
    height: 55.4rem;
}

.block05__inner {
    max-width: 44rem;
    margin: 0 auto;
    overflow: hidden;
}

.block05__headline {
    margin: 2.4rem .8rem 1.6rem;
}

.block05__paragraph {
    margin-bottom: 3.2rem;
    padding-left: 1rem;
    width: 27.4rem;
}

.block05__table {
    display: grid;
    grid-template-columns: repeat(3, 14.2rem);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    overflow: hidden;
}

.block05__movie {
    position: relative;
    cursor: pointer;
}

.block05__pic {
    width: 14.2rem;
    height: 14.2rem;
}

.block05__text1 {
    font-weight: 600;
    font-size: 1.44rem;
    line-height: 1.31;
    color: #FFF;
    margin-bottom: 0.6rem;
}

.block05__text2 {
    color: #FFF;
    width: 12rem;
}

.block05__description {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    padding: 1rem 1.2rem 0;
    background: rgba(144, 210, 61, 0.4);
    transform: translateY(100%);
    transform: 0.2s;
    transition-delay: 0.4s;
    box-sizing: border-box;
}

.block05__movie:hover .block05__description {
    transform: translateY(0);
}

.block05__shadow {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(22, 22, 22, 0.8);
    transform: 0.2s;
}

.block05__movie:hover .block05__shadow {
    background: rgba(22, 22, 22, 0);
}

/** Блок 6 */
.block06 {
    max-width: 56.2rem;
    margin: 0 auto;
    height: 26.24rem;
}

.block06__inner {
    max-width: 42.4rem;
    margin: 0 auto;
}

.block06__headline {
    margin: 2.6rem 0 1.4rem;
}

.block06__paragraph {
    margin-bottom: 3rem;
    width: 27.4rem;
}

.block06__cards {
    max-width: 42.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.block06__card {
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
}

.block06__pic {
    height: 16.4rem;
}

.block06__text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFF;
    background: rgba(163, 204, 64, 0.8);
    width: 13rem;
    box-sizing: border-box;
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block06__text::before {
    content: '';
    display: block;
    border-top: 4rem solid transparent;
    border-right: 14rem solid rgba(163, 204, 64, 0.8);
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(-100%);
}

/** Блок 7 */
.block07 {
    background: url('../images/block07__background.jpg') no-repeat center / cover,
        teal;
    max-width: 56.2rem;
    height: 41.2rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.block07::before {
    content: '';
    display: block;
    border-bottom: 5.4rem solid transparent;
    border-left: 100vw solid #FFF;
    position: absolute;
    top: 0;
    left: 0;
}

.block07::after {
    content: '';
    display: block;
    border-top: 4.4rem solid transparent;
    border-right: 100vw solid #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
}

.block07__inner {
    max-width: 42.4rem;
    margin: 0 auto;
}

.block07__headline {
    margin: 8rem 0 1rem;
}

.block07__paragraph {
    width: 28rem;
    margin-bottom: 5rem;
    color: #FFF;
}

.block07__card {
    width: 10.4rem;
    height: 14.4rem;
    opacity: 0.8;
}

.block07__card:hover {
    opacity: 1;
    transform: scale(1.07);
}

.block07_pic1 {
    width: 10.4rem;
    height: 7.6rem;
    border-radius: .4rem .4rem 0 0;
}

.block07__description {
    height: 6.6rem;
    background: #97B13C;
    border-radius: 0 0 .4rem .4rem;
}

.block07__name {
    font-weight: 600;
    font-size: .8rem;
    line-height: 1.26;
    color: #FFF;
    padding-top: 1rem;
    padding-left: .6rem;
}

.block07__quote {
    font-weight: normal;
    font-size: .5rem;
    line-height: 1.3;
    color: #FFF;
    padding-top: .6rem;
    padding-left: .6rem;
    margin-right: .4rem;
}

.block07__date {
    font-weight: 300;
    font-size: .4rem;
    line-height: 1.25;
    color: #FFF;
    text-align: right;
    padding-top: .6rem;
    padding-right: .2rem;
}


/** Блок 8 */
.block08 {
    max-width: 56.2rem;
    margin: 0 auto;
    height: 29.2rem;
}

.block08__inner {
    max-width: 38.4rem;
    height: 26rem;
    margin: 4rem auto 0;
    border-radius: 1rem;
    box-shadow: .4rem .4rem 2rem rgba(185, 185, 185, 0.37);
}

.block08__pic {
    width: 18rem;
    height: 26rem;
    border-radius: 1rem 0 0 1rem;
    background-image: url("../images/feedbackform_land.jpg");
    position: relative;
    background-size: cover;
}

.block08__pic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent, #fff);
}

.block08__headline {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.28;
    color: #A3CC40;
    text-align: center;
    margin-bottom: 1rem;
}

.block08__form {
    float: right;
    width: 17.6rem;
    height: 23rem;
    margin-right: 2rem;
    margin-top: 1.6rem;
}

.block08__input {
    border-radius: 5px;
    position: relative;
    max-width: 15.8rem;
    margin-bottom: 1.8rem;
}

.block08__name {
    font-size: .8rem;
    padding: .4rem .8rem;
    background: #DEDEDE;
    width: 100%;
    border: 0;
    border-radius: .2rem;
}

.block08__label1 {
    position: absolute;
    left: .8rem;
    top: .4rem;
    font-weight: normal;
    font-size: .8rem;
    line-height: 1.26;
    color: #A1A1A1;
}

.block08__icon {
    display: inline-block;
    margin-left: 10rem;
    vertical-align: middle;
}

.block08__comment {
    font-size: .8rem;
    padding: .4rem .8rem;
    background: #DEDEDE;
    width: 100%;
    border: 0;
    border-radius: .2rem;
    max-height: 5rem;
}

.block08__checkbox {
    cursor: pointer;
}

.block08__checkbox input {
    display: none;
}

.block08__tick {
    content: '';
    display: inline-block;
    width: .6rem;
    height: .6rem;
    vertical-align: middle;
    border: 2px solid #A3CC40;
    border-radius: .2rem;
}

input:checked+.block08__tick {
    background: #A3CC40;
}

.block08__text {
    font-weight: normal;
    font-size: .5rem;
    line-height: 1.3;
    color: #333333;
}

.block08__button {
    width: 17.2rem;
    height: 2.8rem;
    border: 0;
    background: #A3CC40;
    margin-top: 1.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.block08__submit {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    color: #FFFFFF;
}

/** Блок 9 */
.block09 {
    max-width: 56.2rem;
    margin: 0 auto;
    height: 25rem;
}

.block09__inner {
    height: 21.4rem;
    width: 48.8rem;
    margin: 0 auto;
    background-image: url("../images/map_land.jpg");
    background-size: cover;
    border-radius: 1rem;
}

/** Блок 10 */
.block10 {
    max-width: 56.2rem;
    margin: 0 auto;
    height: 18.2rem;
    background: #A3CC40;
}

.block10__inner {
    padding-top: 4.4rem;
    padding-left: 4.4rem;
    height: 11.2rem;
    width: 44rem;
    display: flex;
}

.block10__col1 {
    flex: 0.5;
}

.block10__col2 {
    flex: 0.23;
}

.block10__col3 {
    flex: 0.27;
}

.block10__paragraph {
    font-weight: normal;
    font-size: .7rem;
    line-height: 1.28;
    color: #FFFFFF;
    margin: 1rem 0;
}

.block10__paragraph-wrap {
    width: 14rem;
}

.block10__media {
    width: 1.6rem;
    height: 1.6rem;
    background: #BEE956;
    border-radius: 100%;
    display: inline-block;
    margin-right: 1.4rem;
    position: relative;
}

.block10__icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.block10__menu {
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.32;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.block10___item {
    margin-bottom: 0.4rem;
}

.block10__headline {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.block10__menu:hover {
    border-bottom: 1px solid;
}

.block10__contact {
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.32;
    color: #fff;
    text-decoration: none;
}

.block10__copyright {
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #fff;
}

.block10__text {
    margin-left: 4.4rem;
    padding-bottom: 1.2rem;
}