/** Шрифты */
@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../assets/fonts/IBMPlexSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../assets/fonts/IBMPlexSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../assets/fonts/IBMPlexSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../assets/fonts/IBMPlexSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url('../assets/fonts/IBMPlexSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/** Общие стили */
html {
    font-size: 1.82vw;
}

body {
    font-family: 'IBM_Plex_Sans', sans-serif;
    min-width: 320px;
}

.headline-font {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.28;
    color: #a3cc40;
}

.paragraph-font {
    font-weight: normal;
    font-size: 0.54rem;
    line-height: 1.26;
    color: #333333;
}

.headline-font_bold {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2;
    color: #333;
}

.picture-size {
    width: 12.24rem;
    height: 8.44rem;
}

.container {
    max-width: 47.4rem;
    margin: 0 auto;
}

.link-white {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.32;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}

.link-white:hover {
    color: #a3cc40;
}

.link-menu {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.33;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}

.link-menu:hover {
    color: #a3cc40;
    border-bottom: 1px solid;
}

.link-underline {
    border-bottom: 1px solid;
    display: inline-block;
    line-height: 1;
}

.button__font-family {
    font-family: 'IBM_Plex_Sans';
}

/** Блок 1 */
.block01 {
    background: url('../assets/img/block01_background.jpg') no-repeat center / cover, teal;
    max-width: 56.2rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.block01::after {
    content: '';
    display: block;
    border-top: 8.54rem solid transparent;
    border-right: 100vw solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container .block01__inner {
    padding-top: 2.14rem;
    display: flex;
    align-items: flex-end;
}

.block01__col1 {
    flex: 0 1 10rem;
}

.block01__row1 {
    margin-bottom: 0.5rem;
}

.block01__row1 {
    display: flex;
    gap: 2.4rem;
}

.block01__address a {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.32;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
}

.block01__address span {
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.32;
    color: #fff;
}

.block01__row2 {
    display: flex;
    gap: 3.4rem;
}

.block01__button {
    background-color: #fff;
    border: 2px solid #ededed;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    font-weight: 500;
    line-height: 1.32;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.1rem 0.4rem;
}

.block01__button:hover {
    background: #a3cc40;
    color: #ffffff;
}

.block01__button svg {
    fill: #333333;
}

.block01__button:hover svg {
    fill: #fff;
}

.block01__lang-wrapper {
    position: absolute;
    right: 1rem;
    top: 2.14rem;
}

.block01__lang {
    text-transform: uppercase;
}

.dropdown {
    position: relative;
}

.block01__dropdown-list {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    left: -0.74rem;
    bottom: 0;
    transform: translateY(100%);
}

.block01__dropdown-list a {
    font-size: 0.6rem;
    font-weight: 500;
    color: #fff;
    transition: 0.2s;
    text-decoration: none;
    padding: 0.4rem 0.74rem;
    display: block;
}

.block01__dropdown-list:hover {
    color: #a3cc40;
}

.block01__dropdown-trigger {
    text-decoration: none;
}

.block01__dropdown-trigger span {
    font-weight: 500;
    font-size: 0.6rem;
    color: #fff;
    display: inline-block;
    transition: 0.2s;
}

.block01__dropdown-trigger svg {
    vertical-align: middle;
    display: inline-block;
    margin-top: 2px;
    fill: #fff;
}

.block01__dropdown-trigger:hover span {
    color: #a3cc40;
}

.block01__dropdown-trigger:hover svg {
    fill: #a3cc40;
}

.dropdown_opened .block01__dropdown-trigger svg {
    transform: rotate(180deg);
}

.dropdown_opened .block01__dropdown-list {
    display: block;
}

.block01__upper {
    text-transform: uppercase;
}

.block01__headline {
    max-width: 37.4rem;
    margin: 0 auto;
    padding-top: 9rem;
    padding-bottom: 12.4rem;
}

.block01__main-text {
    font-weight: 100;
    font-size: 3.4rem;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    margin-bottom: 0.8rem;
}

.block01__extra-text {
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.3;
    color: #fff;
    text-align: center;
}

.block01__btn {
    display: none;
}

/** Блок 2 */
.block02 {
    max-width: 56.2rem;
    margin: 0 auto;
    padding-bottom: 6.5rem;
}

.block02__inner {
    max-width: 42.6rem;
    margin: 0 auto;
    position: relative;
}

.block02__welcome {
    position: absolute;
    background: #ffffff;
    box-shadow: 0 1.34rem 2rem rgba(163, 204, 64, 0.18);
    border-radius: 0.5rem;
    padding: 1.4rem 2.4rem;
    max-width: 21.4rem;
    right: 0;
    top: -8.74rem;
}

.block02__welcome-header {
    font-weight: 600;
    font-size: 1.64rem;
    line-height: 1.2;
    color: #333333;
    margin-bottom: 1rem;
}

.block02__welcome-text1 {
    margin-bottom: 0.8rem;
}

.block02__headline {
    margin: 1.6rem 0 4.2rem;
}

.block02__content {
    max-width: 42.2rem;
    margin: 0 auto;
}

.block02__benefits {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.block02__benefit {
    flex: 0 0 33.33%;
    margin-bottom: 2.4rem;
    max-width: 12.24rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.block02__benefit img {
    max-width: 100%;
    height: auto;
}

/** Блок 3 */

.block03 {
    max-width: 56.2rem;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.block03__inner {
    max-width: 42.6rem;
    margin: 0 auto;
}

.block03__table-wrap {
    max-width: 42.2rem;
    margin: 0 auto;
}

.block03__headline {
    margin: -0.24rem 0 4.2rem;
}

.block03__table {
    border-collapse: collapse;
    border-radius: 0.4rem;
    overflow: hidden;
    text-align: left;
}

.block03__table th {
    background: #a3cc40;
    padding: 0.6rem 2rem 0.6rem 1rem;
}

.block03__table_white {
    text-decoration: none;
    color: #fff;
}

.block03__link-icon {
    display: inline-block;
    vertical-align: top;
    margin-top: 0.6rem;
    margin-left: 3px;
}

.block03__table td {
    background: #373737;
    padding: 0.7rem 2rem 0.7rem 1rem;
    color: #fff;
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 1.3;
}

.block03__table tr:nth-child(2n + 1) td {
    background: #4c4d4f;
}

.block03__check {
    cursor: pointer;
}

.block03__check input {
    display: none;
}

.block03__check svg {
    fill: #fff;
}

input:checked + svg {
    fill: #a3cc40;
}

.block03__text {
    margin: 1.4rem auto;
    text-align: center;
    width: 26rem;
}

/** Блок 4 */
.block04 {
    background: url('../assets/img/block04_background.jpg') no-repeat center / cover;
    max-width: 56.2rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.block04::before {
    content: '';
    display: block;
    border-bottom: 6rem solid transparent;
    border-left: 100vw solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.block04::after {
    content: '';
    display: block;
    border-top: 6rem solid transparent;
    border-right: 100vw solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.block04__container {
    max-width: 42.6rem;
    margin: 0 auto;
    position: relative;
}

.block04__gift {
    width: 14rem;
    height: auto;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0.5rem 0.5rem 0.5rem #000;
}

.block04__text {
    width: 28rem;
    text-align: right;
    margin-left: auto;
    padding: 8rem 0 7rem;
}

.block04__headline {
    margin-bottom: 2rem;
}

.block04__headline,
.block04__paragraph {
    color: #fff;
}

.block04__paragraph {
    margin-bottom: 0.8rem;
}

.block04__button {
    margin: 1.4rem 0;
}

.block04__button1 {
    background: #a3cc40;
    border-radius: 0.2rem;
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1.28;
    text-align: center;
    color: #fff;
    border: 1px solid #a3cc40;
    padding: 0.4rem 1.8rem;
    transition: 0.2s;
}

.block04__button1:hover {
    background: #fff;
    border: 1px solid rgba(163, 204, 64, 0.62);
    color: #a3cc40;
    box-shadow: 0 0.1rem 0.4rem rgba(144, 210, 61, 0.3);
}

/** Блок 5 */
.block05 {
    max-width: 56.2rem;
    margin: 0 auto;
}

.block05__inner {
    max-width: 44rem;
    margin: 0 auto;
    overflow: hidden;
}

.block05__headline {
    margin: 2.4rem 0.8rem 1.6rem;
}

.block05__paragraph {
    margin-bottom: 3.2rem;
    padding-left: 1rem;
    width: 27.4rem;
}

.block05__table {
    display: grid;
    grid-template-columns: repeat(3, 14.2rem);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    overflow: hidden;
}

/** Блок 6 */
.block06 {
    max-width: 56.2rem;
    margin: 0 auto;
    padding-bottom: 2.7rem;
}

.block06__inner {
    max-width: 42.4rem;
    margin: 0 auto;
}

.block06__headline {
    margin: 2.6rem 0 1.4rem;
}

.block06__paragraph {
    margin-bottom: 3rem;
    width: 27.4rem;
}

.block06__cards {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.block06__card {
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;
    max-width: 12.2rem;
}

.block06__pic {
    height: auto;
    max-width: 100%;
}

.block06__text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    background: rgba(163, 204, 64, 0.8);
    height: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.block06__text::before {
    content: '';
    display: block;
    border-top: 4rem solid transparent;
    border-right: 14rem solid rgba(163, 204, 64, 0.8);
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(-100%);
}

/** Блок 7 */
.block07 {
    background: url('../assets/img/block07__background.jpg') no-repeat center / cover, teal;
    max-width: 56.2rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.block07::before {
    content: '';
    display: block;
    border-bottom: 5.4rem solid transparent;
    border-left: 100vw solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.block07::after {
    content: '';
    display: block;
    border-top: 4.4rem solid transparent;
    border-right: 100vw solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.block07__inner {
    max-width: 42.4rem;
    margin: 0 auto;
    padding: 7rem 0;
}

.block07__headline {
    margin-bottom: 1rem;
}

.block07__paragraph {
    width: 28rem;
    margin-bottom: 5rem;
    color: #fff;
}

.block07__card {
    max-width: 10.4rem;
    opacity: 0.8;
    transition: 0.2s;
}

.block07__card:hover {
    opacity: 1;
    transform: scale(1.07);
}

.block07_pic {
    max-width: 100%;
    border-radius: 0.4rem 0.4rem 0 0;
}

.block07__description {
    background: #97b13c;
    border-radius: 0 0 0.4rem 0.4rem;
}

.block07__description-inner {
    padding: 1rem 0.5rem 0.5rem;
}

.block07__name {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.26;
    color: #fff;
    margin-bottom: 0.75rem;
}

.block07__quote {
    font-weight: normal;
    font-size: 0.5rem;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 0.5rem;
}

.block07__date {
    font-weight: 300;
    font-size: 0.4rem;
    line-height: 1.25;
    color: #fff;
    text-align: right;
}

/** Блок 8 */
.block08 {
    padding: 4rem 0 3rem;
}

.block08__inner {
    max-width: 38.4rem;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 2rem rgba(185, 185, 185, 0.37);
    display: flex;
    overflow: hidden;
}

.block08__pic {
    flex: 0 0 45%;
    background: url('../assets/img/feedbackform_land.jpg') no-repeat center / cover;
    position: relative;
}

.block08__pic::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent, #fff);
}

.block08__form {
    flex: 0 0 55%;
    padding: 2rem;
}

.block08__headline {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.28;
    color: #a3cc40;
    text-align: center;
    margin-bottom: 1rem;
}

.block08__input {
    border-radius: 5px;
    position: relative;
    margin-bottom: 1.8rem;
}

.block08__name {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    background: #dedede;
    width: 100%;
    border: 0;
    border-radius: 0.2rem;
}

.block08__name:hover {
    background-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(170, 243, 77, 0.52);
}

.block08__label1 {
    position: absolute;
    left: 0.8rem;
    top: 0.4rem;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.26;
    color: #a1a1a1;
}

.block08__error {
    font-size: 0.6rem;
    font-weight: normal;
    color: red;
    padding-left: 0.8rem;
    padding-top: 0.4rem;
}

.block08__input_filled .block08__label1 {
    top: -0.7rem;
    left: 0.5rem;
    color: #333333;
    transition: 0.2s;
    background: #fff;
    padding: 0 0.3rem;
}

.block08__input_filled .block08__name {
    box-shadow: 0 0 0 0.2rem rgba(170, 243, 77, 0.52);
    background: #fff;
}

.block08__input_error .block08__name {
    box-shadow: 0 0 0 0.2rem rgba(224, 44, 12, 0.932);
    background: #fff;
}

.block08__select {
    border-radius: 0.2rem;
    font-weight: normal;
    padding: 0.4rem 0 0.4rem 0.65rem;
    font-size: 0.8rem;
    line-height: 1.26;
    color: #a1a1a1;
    background: #dedede;
    border: 0;
    width: 100%;
}

.block08__select:hover {
    background-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(170, 243, 77, 0.52);
}

.block08__select_selected {
    background-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(170, 243, 77, 0.52);
}

.block08__select-error {
    box-shadow: 0 0 0 0.2rem rgba(224, 44, 12, 0.932);
    background: #fff;
    border-radius: 0.2rem;
    height: 1.8rem;
}

.block08__checkbox-wrap {
    margin-top: 1.8rem;
}

.block08__checkbox {
    cursor: pointer;
}

.block08__checkbox-error {
    box-shadow: 0 0 0 0.2rem rgba(224, 44, 12, 0.932);
    background: #fff;
    border-radius: 0.2rem;
    height: 1.2rem;
}

.block08__checkbox input {
    display: none;
}

.block08__tick {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    vertical-align: middle;
    border: 2px solid #a3cc40;
    border-radius: 0.2rem;
}

input:checked + .block08__tick {
    background: #a3cc40;
}

.block08__text {
    font-weight: normal;
    font-size: 0.5rem;
    line-height: 1.3;
    color: #333333;
    vertical-align: middle;
}

.block08__button {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #a3cc40;
    background: #a3cc40;
    margin-top: 1.8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.2s;
}

.block08__submit {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3;
    color: #ffffff;
}

.block08__button:hover {
    background: #fff;
    border: 1px solid rgba(163, 204, 64, 0.62);
    color: #a3cc40;
    box-shadow: 0 0.1rem 0.4rem rgba(144, 210, 61, 0.3);
}

.block08__button:hover .block08__submit {
    color: #a3cc40;
}

/** Блок 9 */
.block09 {
    max-width: 56.2rem;
    margin: 0 auto;
    padding-bottom: 4rem;
}

.block09__inner {
    max-width: 48.8rem;
    margin: 0 auto;
    background: url('../assets/img/map_land.jpg') no-repeat center / cover;
    border-radius: 1rem;
    aspect-ratio: 16 / 7;
}

/** Блок 10 */
.block10 {
    max-width: 56.2rem;
    padding: 4rem 0 1.5rem 4.4rem;
    background: #a3cc40;
}

.block10__inner {
    max-width: 44rem;
    display: flex;
    margin-bottom: 2rem;
}

.block10__col1 {
    flex: 0 0 50%;
}

.block10__col2 {
    flex: 0 0 25%;
}

.block10__col3 {
    flex: 0 0 25%;
}

.block10__paragraph {
    font-weight: normal;
    font-size: 0.7rem;
    line-height: 1.28;
    color: #ffffff;
    margin: 1rem 0;
}

.block10__paragraph-wrap {
    max-width: 13rem;
}

.block10__media-icons {
    display: flex;
}

.block10__media {
    width: 1.6rem;
    height: 1.6rem;
    background: #bee956;
    border-radius: 100%;
    margin-right: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block10__menu {
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.32;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.block10___item {
    margin-bottom: 0.4rem;
}

.block10__headline {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.3;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.block10__menu:hover {
    border-bottom: 1px solid;
}

.block10__contact {
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.32;
    color: #fff;
    text-decoration: none;
}

.block10__copyright {
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    color: #fff;
}

#scroll-icon {
    display: none;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 99;
    overflow: visible;
    cursor: pointer;
}

.skeleton-film-box {
    width: 14.2rem;
    height: 14.2rem;
    border-radius: 1%;
    animation: shine-avatar 3s infinite linear;
}

.skeleton-film-box:nth-child(1) {
    animation-delay: -0.2s;
}

.skeleton-film-box:nth-child(2) {
    animation-delay: -0.4s;
}

.skeleton-film-box:nth-child(3) {
    animation-delay: -0.6s;
}

.skeleton-film-box:nth-child(4) {
    animation-delay: -0.8s;
}

.skeleton-film-box:nth-child(5) {
    animation-delay: -1s;
}

.skeleton-film-box:nth-child(6) {
    animation-delay: -1.2s;
}

.skeleton-film-box:nth-child(7) {
    animation-delay: -1.4s;
}

.skeleton-film-box:nth-child(8) {
    animation-delay: -1.6s;
}

.skeleton-film-box:nth-child(9) {
    animation-delay: -1.8s;
}

@keyframes shine-avatar {
    0% {
        background-color: #ccc;
    }

    50% {
        background-color: gray;
    }

    100% {
        background-color: #ccc;
    }
}

.city-wrapper {
    background-color: #fff;
    max-width: 25rem;
    min-height: 5rem;
    border-radius: 1rem;
    position: relative;
    display: none;
}

.city-input__name {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    background: #fff;
    width: 100%;
    border: 0;
    border-radius: 0.2rem;
}

.city-input__label {
    position: absolute;
    left: 2.1rem;
    top: 3.4rem;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.26;
    color: #333333;
}

.query-popup {
    background-color: #fff;
    max-width: 25rem;
    min-height: 5rem;
    border-radius: 1rem;
    display: none;
}

.ajax-loader {
    display: none;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}
