.movie-page__header {
    background: linear-gradient(89.92deg, #251a1b 24.47%, #4f272f 64.85%);
    max-width: 56.2rem;
}

.block01__inner-padding {
    padding-bottom: 2.14rem;
}

.movie-page__details {
    max-width: 56.2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.13);
}

.movie-page__inner {
    max-width: 53.8rem;
    margin: 1.4rem auto 0;
    background: #e5e5e5;
    display: flex;
}
.movie-page__left {
    flex: 0 0 50%;
}
.movie-page__poster-wrap {
    margin: 2rem 0;
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.movie-page__poster {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 0 2rem 0 3.3rem;
}

.movie-page__description {
    padding: 1.2rem 4.6rem 3.6rem 2rem;
    flex: 0 0 50%;
}

.movie-page__headline-wrap {
    margin-bottom: 1.4rem;
}

.movie-page__headline {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.3;
    color: #333333;
}

.movie-page__row1 {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.movie-page__ratestars {
    display: flex;
    color: #7a7d72;
}

.rating-star {
    cursor: pointer;
}

.star_selected {
    color: #a3cc40;
}

.movie-page__ratestars:hover {
    color: #a3cc40;
}

.rating-star:hover ~ .rating-star {
    color: #7a7d72;
}

.movie-page__ratestars svg {
    padding-right: 0.15rem;
}

.movie-page__ratenumber1 {
    font-weight: 400;
    font-size: 0.64rem;
    line-height: 1.3;
    color: #a1a1a1;
}

.movie-page__ratenumber2 {
    font-weight: 700;
    font-size: 0.54rem;
    line-height: 1.27;
    color: #a3cc40;
}

.movie-page__rateservice {
    font-weight: 400;
    font-size: 0.64rem;
    line-height: 1.3;
    color: #a1a1a1;
}

.movie-page__row2 {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.2rem;
}

.movie-page__calendar {
    display: flex;
    gap: 0.2rem;
}

.movie-page__date {
    font-weight: 600;
    font-size: 0.54rem;
    line-height: 1.27;
    color: #4c4d4f;
}

.movie-page__views {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.movie-page__views-number {
    font-weight: 600;
    font-size: 0.54rem;
    line-height: 1.27;
    color: #4c4d4f;
}

.movie-page__likes {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.like-icon {
    cursor: pointer;
    color: #7a7d72;
}

.like-icon:hover {
    color: #a3cc40;
}

.like-icon_liked {
    color: #a3cc40;
}

.movie-page__likes-number {
    font-weight: 600;
    font-size: 0.54rem;
    line-height: 1.27;
    color: #4c4d4f;
}

.movie-page__row3 {
    margin-bottom: 2.2rem;
}

.movie-page__text {
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 1.3;
    color: #a1a1a1;
}

.movie-page__row4 {
    display: flex;
    flex-direction: column;
}

.movie-page__stroke {
    display: flex;
    padding: 0.3rem 0;
}

.movie-page__row4 .movie-page__stroke:not(:last-child) {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.13);
}

.movie-page__element1 {
    flex: 0 0 25%;
}

.movie-page__element2 {
    flex: 0 0 75%;
}

.movie-page__headline-font {
    font-weight: 700;
    font-size: 0.54rem;
    line-height: 1.27;
    color: #a3cc40;
}

.movie-page__text-font {
    font-weight: 400;
    font-size: 0.54rem;
    line-height: 1.27;
    color: #696969;
}

.movie-page__text-font_last {
    font-weight: 600;
    font-size: 0.54rem;
    line-height: 1.27;
    color: #2f2e2e;
}

.movie-page__other-films {
    max-width: 56.2rem;
}

.movie-page__headline-wrapper {
    margin: 2.5rem 0 1.4rem 4.5rem;
}

.movie-page__films-headline {
    font-weight: 600;
    font-size: 0.74rem;
    line-height: 1.33;
    color: #a1a1a1;
}

.movie-page__carousels {
    margin: 0 auto;
    max-width: 44.8rem;
}

.movie-page__carousel1 {
    max-width: 41.4rem;
    margin: 0 auto 1.6rem;
}

.movie-page__carousel-items {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.movie-page__carousel-title {
    font-weight: 600;
    font-size: 0.74rem;
    line-height: 1.33;
    color: #333333;
}

.movie-page__carousel-counter {
    font-weight: 500;
    font-size: 0.5rem;
    line-height: 1.3;
    color: #a3cc40;
}

.movie-page__carousel-card {
    width: 6.4rem;
}

.movie-page__carousel-pic {
    max-width: 100%;
    height: auto;
    border-radius: 0.4rem;
}

.movie-page__poster-title {
    font-weight: 400;
    font-size: 0.6rem;
    line-height: 1.33;
    color: #a3cc40;
    margin: 0.5rem 0;
}

.movie-page__poster-info {
    font-weight: 300;
    font-size: 0.4rem;
    line-height: 1.28;
    color: #333333;
}
